<div class="kitchen">
	<div class="pannel pannel-elem">
		<div class="blocks">
			<div class="block" ng-if="currentPage <= productPage">
				<div class="elem" ng-repeat="one in productList">
					<img ng-src="{{one.imgUrl}}-product">
					<div class="elem-mask">
						<p class="date">{{one.createDate}}</p>
						<h6>{{one.title}}</h6>
						<p class="desc">{{one.content}}</p>
					</div>
				</div>
			</div>
			<div class="block" ng-if="currentPage > productPage">
				<a class="news" ng-repeat="one in newsList" href="#/article/{{one.id}}">
					<ul class="date"><li>{{one.createDate}}</li></ul>
					<img ng-src="{{one.imgUrl}}-news">
					<h6>{{one.title}}</h6>
					<p class="desc">{{one.content}}</p>
				</a>
			</div>
		</div>
		
		<ul class="dotlist_season" ng-style="dotlistStyle">
			<li>
				<div class="dotlist_title">食·单</div>
			</li>
			<li >
				<a href="javascript:void(0)" ng-click="pageTo(1)" ng-class="{'active':currentPage==1}">春</a>
			</li>
			<li >
				<a href="javascript:void(0)" ng-click="pageTo(2)" ng-class="{'active':currentPage==2}">夏</a>
			</li>
			<li >
				<a href="javascript:void(0)" ng-click="pageTo(3)" ng-class="{'active':currentPage==3}">秋</a>
			</li>
			<li >
				<a href="javascript:void(0)" ng-click="pageTo(4)" ng-class="{'active':currentPage==4}">冬</a>
			</li>
		</ul>
		<ul class="dotlist_food_news" ng-style="dotlistStyle">
			<li>
				<div class="dotlist_title">食·事</div>
			</li>
			<li ng-repeat="one in newsPages">
				<a href="javascript:void(0)" ng-click="pageTo(one+4)" ng-class="{'active':currentPage==(one+4)}">{{$index+1}}</a>
			</li>
		</ul>
	</div>
</div>