<div class="about">
	<div class="pannel">
		<div class="blocks">
			<div class="block poem" ng-show="view==0"></div>
			<div class="block item" ng-repeat="one in items" ng-show="view==($index+1)">
				<dl>
					<dt>
						<img ng-src="{{one.img}}">
					</dt>
					<dd>
						<h5>{{one.txt}}</h5>
						<h6>{{one.eng}}</h6>
						<p ng-repeat="v in one.desc">{{v}}<a href="{{one.url}}" class="more" ng-if="$last"></a></p>
					</dd>
				</dl>
			</div>
		</div>
		<ul class="dotlist">
			<li>
				<a href="javascript:void(0)" ng-click="show(0)" ng-class="{'active':view==0}"></a>
			</li>
			<li ng-repeat="one in items">
				<a href="javascript:void(0)" ng-click="show($index+1)" ng-class="{'active':view==$index+1}"></a>
			</li>
		</ul>
	</div>
</div>