// page
$widthPage:1280px;

// pannel
$widthPannel:1210px;
$heightPannel:635px;
$widthItem:980px;

// header
$heightHeader:81px;

// images
$img:"./images/";




// mixin
@mixin dotlist{
	li{
		margin:20px 0;
		display: block;
		a{
			&.active,&.flex-active{
				background: #fff;
			    cursor: default;
			}
			width: 10px;
			height: 10px;
			display: block;
			background: #666;
			background: rgba(255, 255, 255, 0.2);
			cursor: pointer;
			text-indent: -9999px;
			-webkit-box-shadow: inset 0 0 1px #fff;
			-moz-box-shadow: inset 0 0 1px #fff;
			-o-box-shadow: inset 0 0 1px #fff;
			box-shadow: inset 0 0 1px #fff;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
		}
	}
	width: auto;
	position: absolute;
	top: 50%;
	right: -40px;
	margin-top:-60px;
}

// food_season
@mixin dotlist_season{
	li{
		margin:20px 0;
		display: block;
		a{
			&.active,&.flex-active{
				background: #fff;
			    cursor: default;
			}
			width: 10px;
			height: 10px;
			display: block;
			background: #666;
			background: rgba(255, 255, 255, 0.2);
			cursor: pointer;
			text-indent: -9999px;
			-webkit-box-shadow: inset 0 0 1px #fff;
			-moz-box-shadow: inset 0 0 1px #fff;
			-o-box-shadow: inset 0 0 1px #fff;
			box-shadow: inset 0 0 1px #fff;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
		}
	}
	width: auto;
	position: absolute;
	top: 40%;
	right: -40px;
	margin-top:-60px;
}

// food_news
@mixin dotlist_food_news{
	li{
		margin:20px 0;
		display: block;
		a{
			&.active,&.flex-active{
				background: #fff;
			    cursor: default;
			}
			width: 10px;
			height: 10px;
			display: block;
			background: #666;
			background: rgba(255, 255, 255, 0.2);
			cursor: pointer;
			text-indent: -9999px;
			-webkit-box-shadow: inset 0 0 1px #fff;
			-moz-box-shadow: inset 0 0 1px #fff;
			-o-box-shadow: inset 0 0 1px #fff;
			box-shadow: inset 0 0 1px #fff;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
		}
	}
	width: auto;
	position: absolute;
	top: 75%;
	right: -40px;
	margin-top:-60px;
}