header{
	.logo{
		background: url(./images/logo.png) no-repeat left top;
		width: 179px;
		height: $heightHeader;
		float: left;
		margin-left: 40px;
	}

	.account{
		width: 150px;
		height:$heightHeader;
		background:url(./images/account.png) no-repeat center center;
		float: right;
		position: relative;
		z-index: 999;
	}
	.account-dialog{
		a{
			span{
				font-family:SimSun;
				margin-left: 30px;
			}
			height: 55px;
			width: 100%;
			position: absolute;
			left:0;
			bottom:0;
			text-align: center;
			background-color: #4a4a4a;
			color:#fff;
			line-height: 55px;
			font-family:Microsoft Yahei;
			font-size:14px;
			letter-spacing: 6px;
		}
		width: 307px;
		height: 320px;
		padding:20px 40px 0;
		background:#fff url(../images/code.png) no-repeat center 20px;
		position: absolute;
		right:0;
		top:$heightHeader;
		// border:1px solid #f3f3f3;
	}

	ul{
		li{
			float: left;
		}
		a{
			&:hover,&.cur{
				// font-weight: bold;
				color:#000;
			}
			em{
				display: block;
				font-style:normal;
				font-size:15px;
			}
			span{
				display: block;
				font-size:12px;
				position: absolute;
				left:50%;
				width: 80px;
				margin-left:-40px;
				text-align: center;
			}
			text-align: center;
			display: inline-block;
			height:40px;
			margin-right: 90px;
			position: relative;
			padding-top:31px;
		}
		list-style-type: none;
		float: left;
		margin-left: 60px;
	}
	height: $heightHeader;
	// border-bottom:1px solid #f3f3f3;
	background:#fff;
}