<div class="product">
	<div class="pannel pannel-elem">
		<div class="blocks">
			<div class="block">
				<a class="news" ng-repeat="one in list" href="#/article/{{one.id}}">
					<ul class="date"><li>{{one.createDate}}</li></ul>
					<img ng-src="{{one.imgUrl}}-news">
					<h6>{{one.title}}</h6>
					<p class="desc">{{one.content}}</p>
				</a>
			</div>
		</div>
		<ul class="dotlist">
			<li ng-repeat="one in pages">
				<a href="javascript:void(0)" ng-click="pageTo(one)" ng-class="{'active':currentPage==one}"></a>
			</li>
		</ul>
	</div>
</div>