<div class="product">
	<div class="pannel pannel-elem">
		<div class="blocks">
			<div class="block">
				<div class="elem" ng-repeat="one in list">
					<img ng-src="{{one.imgUrl}}-product">
					<div class="elem-mask">
						<p class="date">{{one.createDate}}</p>
						<h6>{{one.title}}</h6>
						<p class="desc">{{one.content}}</p>
					</div>
				</div>
			</div>
		</div>
		<ul class="dotlist">
			<li ng-repeat="one in pages">
				<a href="javascript:void(0)" ng-click="pageTo(one)" ng-class="{'active':currentPage==one}"></a>
			</li>
		</ul>
	</div>
</div>