<div class="location">
    <div class="pannel">
    	<div class="blocks">
	        <div class="block location-map-1" ng-show="currentPage==1">
	        	<div id="map" class="map"></div>
	        </div>
	        <div class="block location-map-2" ng-show="currentPage==2"></div>
	        <div class="block location-map-3" ng-show="currentPage==3"></div>
    	</div>
	    <ul class="dotlist">
			<li>
				<a href="javascript:void(0)" ng-click="currentPage=1" ng-class="{'active':currentPage==1}"></a>
			</li>
			<li>
				<a href="javascript:void(0)" ng-click="currentPage=2" ng-class="{'active':currentPage==2}"></a>
			</li>
			<li>
				<a href="javascript:void(0)" ng-click="currentPage=3" ng-class="{'active':currentPage==3}"></a>
			</li>
		</ul>
    </div>
</div>
